
@font-face {
    font-family: "FeatureMono";
    src: local("FeatureMono"),
      url("../fonts/FeatureMono-Medium.ttf")   
  }

body {
    margin: 0;
    padding-top: 100px;
    font-family: "FeatureMono";
    font-style: normal;
    font-size: 20px;
    color: #000000;
    background-color: #ffffff;
}

/*шапка*/
header {
    background-color: #a5c669;
    width: 100%;
    margin-top: 0;
    padding: 5px 20px 0px 20px;
    
}
.header_fixed {
    position: fixed;
    top: 0;
    z-index: 1000;
}
.flex1 {
    display: flex;
}
.flex1 h1 {
    width: 700px;
    line-height: 40px;
}
.logo {
    display: flex;
    margin-right: 10px;
}
.navigation {
    width: 300px;
    margin-left: 250px;
}
.nav-list {
    display: flex;
    gap: 26px;
    list-style: none;
    align-items: center;
}

/*Основное содержание*/
/*промо*/
.flex2 {
    display: flex;
    margin: 50px;
    padding: 0;
    background-color: #c1e194;
    justify-content: space-between;
}

.promo__img {
    width: 100%;
    height: 100%;
}

.promo__img {
    width: 100%;
    max-width: 600px;
}


.p1 {
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
}
.p2{
    font-family:"FeatureMono";
    font-style: normal;
    font-size: 30px;
}

/*схема*/
.sxema {
    background-image: url(../img/sxema.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    border-radius: 15px;
}
.kyrsor1 {
    position: absolute;
    padding-top: 32.5%;
    left: 7%;
}
.kyrsor2 {
    position: absolute;
    padding-top: 50%;
    left: 1%;
}
.kyrsor3 {
    position: absolute;
    padding-top: 22%;
    right: 10%;
}
.kyrsor4 {
    position: absolute;
    padding-top: 45%;
    right: 1%;
}
.kyrsor5 {
    position: absolute;
    padding-top: 39.5%;
    left: 3%;
}
.kyrsor6 {
    position: absolute;
    padding-top: 55%;
    left: -0.5%;
}
.kyrsor7 {
    position: absolute;
    padding-top: 21%;
    left: 2%;
}
.kyrsor8 {
    position: absolute;
    padding-top: 15%;
    right: -1%;
}
.kyrsor9 {
    position: absolute;
    padding-top: 15.5%;
    left: 1%;
}
.kyrsor10 {
    position: absolute;
    padding-top: 17%;
    right: 2%;
}
.kyrsor11 {
    position: absolute;
    padding-top: 59%;
    right: 6%;
}
/*Основной вид деятельности*/
.ovd {
    background-color: #c1e194;
    margin: 0;
    padding: 10px 20px;

}
.zagolovok {
    text-align: center;
    font-size: 50px;
}

.list{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 20px;
}
.list li {
    background-color: #ffffff;
    padding: 10px;
}
.container img {
    display: block;
	margin: 0 auto;
	padding-top: 25px;
}
.container p{
    font-size: 35px;
}
.container ul {
    list-style: "💻";
}

/*подвал*/
footer {
    background-color: #a5c669;
}
.flex3 {
    display: flex;
    margin: 0;
    padding: 20px;
}
.logo_kytts {
    width: auto;
    margin-right: 50px;
}
.kytts {
    width: 500px;

    font-size: 20px;
}
.promo__flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.p123 {
    margin-left: 320px;
    height: 50px;
    line-height: 22px;
}

.FI {
    width: 200px;
    margin-left: 400px;
    
    font-size: 20px;
}

.p432 {
    max-height: 10px;
}

@media (max-width: 1630px) {
    .promo__p1 {
        font-size: 29px;
        
    }

    .p123 {
        margin-left: 250px;
    }

    .p2 {font-size: 28px;}

    .p2 br {
        display: none;
    }
}

@media (max-width: 1520px) {
    .promo__p1 {
        font-size: 26px;
        
    }

    .p123 {
        margin-left: 150px;
    }

    .p2 {font-size: 28px;}

    .p2 br {
        display: none;
    }
}

@media (max-width: 1420px) {
    .promo__p1 {
        font-size: 30px;
        
    }

    .p123 {
        margin-left: 90px;
    }

    .p2 {font-size: 24px;}

    .p2 br {
        display: none;
    }
}